spring:
  application:
    name: q-asker

resilience4j:
  circuitbreaker:
    instances:
      aiServer:
        sliding-window-type: COUNT_BASED          # 호출 횟수 기반으로 상태 판단
        sliding-window-size: 2                  # 최근 2번 호출을 기준으로 실패율 계산
        minimum-number-of-calls: 2            # 2번부터 실패율 계산 시작
        failure-rate-threshold: 100                # 실패율이 100% 이상이면 OPEN 상태로 전환
        wait-duration-in-open-state: 30s          # OPEN 상태 유지 시간(30초) 이후 HALF_OPEN으로 변경 시도
        permitted-number-of-calls-in-half-open-state: 3   # HALF_OPEN 상태에서 허용할 테스트 호출 수
        automatic-transition-from-open-to-half-open-enabled: true  # 대기시간 경과 후 자동으로 HALF_OPEN 전환